[Unit]
Description=Daily removal of old Downloads files

[Timer]
# Once a day
OnCalendar=*-*-* 03:40:00
# If the last time was missed, rerun as soon as you can
Persistance=true
# Wake the system
WakeSystem=true
Unit=clean-downloads.service

[Install]
WantedBy=multi-user.target
