[Unit]
Description=Weekly upgrade of full system

[Timer]
# Once a week
OnCalendar=weekly
# If the last time was missed, rerun as soon as you can
Persistance=true
Unit=upgrade-system.service

[Install]
WantedBy=multi-user.target
