[Unit]
Description=Full system backup

[Service]
ExecStart=/bin/bash -c '/home/blake/scripts/Automation/backup_system.sh > /home/blake/Documents/logs/backup_system.log'
