[Unit]
Description=Delete old files from the trash folder

[Service]
ExecStart=/bin/bash -c '/home/blake/scripts/Automation/clean_trash.sh | tee -a /home/blake/Documents/logs/clean_trash.log /home/blake/Documents/logs/GlobalLog'
