[Unit]
Description=Send weekly expense report

[Service]
ExecStart=/bin/bash -c '/home/blake/scripts/Automation/expense_report.sh | tee -a /home/blake/Documents/logs/expense_report.log /home/blake/Documents/logs/GlobalLog'
