[Unit]
Description=Update master branches from the staging branch of all git repositories

[Service]
ExecStart=/bin/bash -c '/home/blake/scripts/Automation/update_master_branches.sh | tee /home/blake/Documents/logs/update_master_branches.log /home/blake/Documents/logs/GlobalLog'
