[Unit]
Description=Full system upgrade

[Service]
ExecStart=/bin/bash -c '/home/blake/scripts/Automation/upgrade_system.sh >> /home/blake/Documents/logs/system_upgrade.log'
