[Unit]
Description=Delete old files from the trash folder

[Service]
Environment=SCRIPTS=/home/blake/scripts/autoscripts
ExecStart=/bin/bash -c "${SCRIPTS}/clean_trash"
