[Unit]
Description=Review files that are about to be automatically cleaned

[Service]
Environment=SCRIPTS=/home/blake/scripts/Automation
Environment=LOGS=/home/blake/Documents/logs
ExecStart=/bin/bash -c "${SCRIPTS}/cleanup_review/cleanup_review.sh | tee -a ${LOGS}/cleanup_review.log ${LOGS}/GlobalLog"
