[Unit]
Description=Delete old files from the trash folder

[Service]
Environment=SCRIPTS=/home/blake/scripts/Automation
Environment=LOGS=/home/blake/Documents/logs
ExecStart=/bin/bash -c "${SCRIPTS}/clean_trash.sh | tee -a ${LOGS}/clean_trash.log ${LOGS}/GlobalLog"
