[Unit]
Description=Update Python package version requirements

[Service]
Environment=SCRIPTS=/home/blake/scripts/autoscripts
ExecStart=/bin/bash -c "${SCRIPTS}/update_reqs"
