[Unit]
Description=Full system upgrade

[Service]
WorkingDirectory=/home/blake/scripts/autoscripts
ExecStart=/home/blake/scripts/autoscripts/upgrade_system
