[Unit]
Description=Backs up the whole system twice a week

[Timer]
# Define time to run
OnCalendar=Sun,Wed *-*-* 04:00:00
# If the last time was missed, rerun as soon as you can
Persistent=true
WakeSystem=true
Unit=back-up-system.service

[Install]
WantedBy=multi-user.target
