[Unit]
Description=Review files that will be automatically deleted soon.

[Timer]
# Once a day
OnCalendar=*-*-* 00:02:30
# If the last time was missed, rerun as soon as you can
Persistent=true
Unit=cleanup-review.service

[Install]
WantedBy=multi-user.target
