[Unit]
Description=Daily removal of files from trash

[Timer]
# Once a day, early in the morning
OnCalendar=*-*-* 03:30:00
# If the last time was missed, rerun as soon as you can
Persistent=true
# Wake system
WakeSystem=true
Unit=clean-trash.service

[Install]
WantedBy=multi-user.target
