[Unit]
Description=Backs up the whole system twice a week

[Timer]
# Define time to run
OnCalendar=monthly
# If the last time was missed, rerun as soon as you can
Persistent=true
WakeSystem=true
Unit=update-reqs.service

[Install]
WantedBy=multi-user.target
